body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font: 400 17px "Dosis", sans-serif;
}
header{
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    height: 75px;
    width: 100%;
    background: transparent;
}
nav{
    height: 75px;
    float: right;
}
div{
    display: block;
}
footer{
    background-color: #C94449;
    width: 100%;
    float: left;
    clear: both;
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.toolbar{
    width: 100%;
}
.toolbar a:link{
    text-decoration: none;
    color: #E0E0E5;
}
.menu{
    display: flex;
    height: 75px;
    line-height: 80px;
    min-width: 120px;
}
.menu li{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.5s ease-out;
}
.menu li:hover{
    height: 75px;
    background-color: #8B2939;
    border-bottom: 5px solid #CCD1D6;
}
.logo a:hover{
    text-decoration: none;
    color: #E0E0E5 !important;
}
.logo{
    height: 75px;
    padding: 0 20px 0 20px;
    text-transform: uppercase;
    float: left;
    transition: background-color 0.5s ease-out;
}
.logo h1{
    line-height: 70px !important;
    color: #E0E0E5 !important;
}
.logo:hover{
    height: 75px;
    background-color: #8B2939;
    border-bottom: 5px solid #CCD1D6;
}
.media-tile:hover{
    transform: scale(1.25);
}
a, h1:link{
    text-decoration: none;
    color: #E0E0E5;
}
.copyright{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #8B2939;
    float: left;
}
.root{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 36px;
}
.container-title{
    padding-top: 80px;
    height: 100vh;
    min-height: 400px;
    background: url("../img/bg-1-earth.jpg") no-repeat top center;
    background-size: cover;
    display: flex;
}
.intro{
    padding-top: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    align-self: center;
}
.container-title h1{
    font: normal 60px/1.1 "Dosis", sans-serif;
    color: #fff;
    text-align: left;
    padding-bottom: 40px;
    margin: 0;
}
.container-title h2{
    font: 30px "Dosis", sans-serif;
    color: #fff;
    text-align: left;
    margin: 0;
}
.about-me{
    padding: 100px 15px 100px 15px;
    background: url("../img/mask.jpg") no-repeat top fixed;
    background-size: cover;
    font: inherit;
    color: #ffffff;
}
.about-me h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 5px;
}
.about-me p{
    color: #f0f0f0;
    font-size: 19px;
    line-height: 1.5;
    text-align: left;
    margin: 0 auto;
    padding-bottom: 20px;
}
.about-me p.caption{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 0px;
}
.why-me {
    padding: 100px 20px 100px 20px;
    background-color: #ffffff;
}
.why-me h2{
    text-transform: uppercase;
    color: #000000;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;

}
.why-me p.caption{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 0;
}
.wm-row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}
.wm-col{
    text-align: center;
    flex: 1;
    color: #000000;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}
.wm-image{
    font-size: 150px;
    color: #C94449 !important;
    transition: opacity .3s;
}
.wm-image:hover{
    opacity: 0.8;
    transition: opacity .3s;
}
.wm-col h2{
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-bottom: 10px;
    color: #000000;
}
.wm-col p{
    font-size: 16px;
    line-height: 25px;
    color: #555;
    text-align: justify;
    margin-bottom: 0;
}
.skills{
    padding: 20px;
    background-color: gray;
}
.skills h2{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}
.skills p{
    color: #f0f0f0;
    font-size: 19px;
    line-height: 1.5;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.skills p.caption{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
}
.skills-left{
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: #8B2939;
    opacity: 0.9;
    float: left;
}
.skills-right{
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: #8B2939;
    opacity: 0.9;
    float: right;
}
.skills .skills-tile{
    line-height: 1;
    margin: 5px;
    flex: 100px;
    text-align: center;
    background-color: darkred;
}
.skills a{
    align-items: center;
}
.container-inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.foot-col-1{
    width: 20%;
    height: 100%;
    padding: 25px;
    float: left;
}
.foot-col-2{
    text-align: justify;
    width: 30%;
    height: 100%;
    padding: 25px;
    float: left;
}
.foot-col-3{
    width: 20%;
    height: 100%;
    padding: 25px;
    float: left;
    clear: none;
}
.media-tile{
    text-align: center;
    margin: 10px;
    height: 50px;
    width: 50px;
    float: left;
}
.foot-col-3 li{
    list-style-type: none;
}
