
.icon-fire:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */